// Searchable listbox
$msl-multi-select-items-box-border-color: #5b5d66 !default;
$msl-multi-select-item-border-bottom-color: #252b45 !default;
$msl-multi-select-item-hover-bg: #3858e7 !default;
$msl-multi-select-item-hover-font-color: #fff !default;
$msl-multi-select-no-item-font-color: #c0c2c6 !default;

// The select all icons
$msl-multi-select-action-hover-font-color: #c0c2c6 !default;
$msl-multi-select-action-icon-font-color: #919191 !default;
